<table mat-table [dataSource]="editions" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> image. </th>
        <td mat-cell *matCellDef="let element"> {{element.image}} </td>
      </ng-container>
    
      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef> discount </th>
        <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>