<header>
    <mat-toolbar>
        <div class="icon-btn">
            <button mat-button routerLink="/"></button>
        </div>
        <div class="container-btn">
            <div class="example-button-row buttons">
                <button mat-raised-button>Shop</button>
                <button mat-raised-button>Community</button>
                <button mat-raised-button>Information</button>
                <button mat-raised-button>Profile</button>
            </div>

            <div class="example-button-row">
                <button mat-raised-button><i class="material-icons">login</i></button>
            </div>
        </div>
    </mat-toolbar>
</header>