<h1>
    <button (click)="back()" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Create New Product</span>
</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" required matInput placeholder="Enter product name">
        @if (form.get("name")?.invalid) {
        <mat-error>Invalid name value.</mat-error>
        }
    </mat-form-field>

    <div class="col-2">
        <mat-form-field floatLabel="always" style="flex-basis: 65%;">
            <mat-label>Price</mat-label>
            <input formControlName="price" required matInput type="number" step="100" placeholder="0">
            <span matTextPrefix>$&nbsp;</span>
            @if (form.get("price")?.invalid) {
            <mat-error>Invalid price value.</mat-error>
            }
        </mat-form-field>
        <mat-form-field floatLabel="always" style="flex-basis: 35%;">
            <mat-label>Discount</mat-label>
            <input formControlName="discount" matInput type="number" step="5" placeholder="0">
            <span matTextPrefix>%&nbsp;</span>
            @if (form.get("discount")?.invalid) {
            <mat-error>Invalid discount value.</mat-error>
            }
        </mat-form-field>
    </div>

    <!-- <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId" required>
            <mat-option value="1">Electronics</mat-option>
            <mat-option value="2">Sport</mat-option>
            <mat-option value="3">Fashion</mat-option>
            <mat-option value="4">Home & Garden</mat-option>
        </mat-select>
    </mat-form-field> -->
    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId">
            @for (i of categories; track i.id) {
            <mat-option [value]="i.id">
                {{i.name}}
            </mat-option>
            }
        </mat-select>
        @if (form.get("categoryId")?.invalid) {
        <mat-error>Invalid category value.</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput></textarea>
        @if (form.get("description")?.invalid) {
        <mat-error>Invalid description value.</mat-error>
        }
    </mat-form-field>

    <div>
        <button color="primary" type="button" mat-raised-button (click)="fileInput.click()">
            <mat-icon aria-hidden="false" fontIcon="image"></mat-icon>
            <span>Choose Image</span>
        </button>
        <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
    </div>

    <div class="buttons-block">
        <button type="reset" mat-raised-button>Cancel</button>
        <button type="submit" mat-raised-button color="accent">Create</button>
    </div>
</form>